/* CONTAINER-WRAPPER */
.container-wrapper {

  background-color: #060242fd;
  margin-top: 20px;
}




/* CONTAINER */
.weather-container {
  width: 100%;
  height: 480px;
  max-width: 500px;
  margin: 30px auto;
  background: url("/assets/boston55.jpg") no-repeat center center/contain ;
  
  color: white;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* HEADER */
.weather-title {
  
  font-weight: bold;
  margin-bottom: 16px;
  color: #efebea;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


/* INFO BLOCK */
.weather-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.weather-info h2{
  font-size: 45px;
  margin-bottom: 90px;
}

/* PARAGRAPHS (apply to all screen sizes) */
.weather-info p {
  margin: 0;
  color: rgba(243, 204, 12, 0.997);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 33px;
 
  
}

/* BUTTON */
.weather-btn {
  margin-bottom: 20px;
  padding: 10px 16px;

  border: none;
  border-radius: 10px;

  background: white;
  color: #0077ff;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.2s ease;
}

.weather-btn:hover {
  background: #e6f0ff;
  transform: translateY(-2px);
}

/* TABLET */
@media (min-width: 768px) {
  .weather-container {
    padding: 30px;
  }

  .weather-title {
    font-size: 1.8rem;
  }

  .weather-info {
    font-size: 1.2rem;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .weather-container {
    max-width: 600px;
  }
}